.sfondo {
    background-color: black;
    background-image: url('../img/thumb-1920-554381.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; /*scroll*/
    /*background-position: center center; da valutare */
    background-size: 100%;
    margin:0px;
    font-family: 'Quicksand', sans-serif;
}

.sfondoCard {
    background-color: cornsilk;
}

.titoloCard {
    font-size: 16px;
    font-weight: bolder;
}

.testoCard {
    font-size: 14px;
}

.container h1 {
    font-family: 'Kaushan Script', cursive;
    color: rgb(223, 193, 27);
    font-size: 100px;
    text-shadow: -3px 0 darkblue, 0 3px darkblue, 3px 0 darkblue, 0 -3px darkblue;
}

.sottotitolo {
    padding-top: 1%;
    color:skyblue;
}

.stella {
    color: yellow;
    text-shadow: 0 0 5px #000;
}

.locandina {
    height: 400px;
    width: auto;
}

.scheda {
    background-color:rgb(78, 146, 201) !important;
    color: white !important;
    border-color: skyblue !important;
}

.scheda:hover {
    background-color: rgb(37, 52, 117) !important;
}

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
        margin-right: initial;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

#titoloFilm {
    font-size: 30px;
    font-weight: bold;
}

.row {
    color: black;
}

.stileNewsletter {
    color:skyblue;
}

.buttonNewsletter {
    background-color:rgb(78, 146, 201) !important;
    color: white !important;
    border-color: skyblue !important;
}

.buttonNewsletter:hover {
    background-color: rgb(37, 52, 117) !important;
}

.social-link {
    display:flex;
    padding:30px 20px 30px 20px;
}

.fa {
    font-size: x-large !important;
}

.social {
    padding: 10px;
    color:skyblue;
}


.fa-facebook {
    padding: 10px;
}

.fa-twitter {
    padding: 10px;
}

.fa-instagram {
    padding: 10px;
}

.float-right {
    flex-grow: 2;
    text-align: right;
    padding: 10px;
}

.copyright {
    text-align: center;
}
